h1 {
    color: blue;
}

body {
    height: 100vh;
    margin: 0px;

    display: flex;
    flex-direction: column;
}

.messages {
    color: red;
}
nav {
    background-color: blue;
}

.container {
    background-color: pink;
    display: grid;
    grid-template-columns: 20%, 80%;
}

aside{
    background-color: purple;
}

main{
    background-color: green;
}